[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=bash -c 'bash /home/emuhub/emulator/mobile_emu.sh "pixel_2" 19 "pixel_2"'; read -p "Press Enter to close"
Name=Pixel 2
Icon=/home/emuhub/images/pixel_2_emu.png
