[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=bash -c 'bash /home/emuhub/emulator/mobile_emu.sh "pixel_xl_silver" 26 "pixel_xl_silver"'; read -p "Press Enter to close"
Name=Pixel XL
Icon=/home/emuhub/images/pixel_xl_emu.png
