[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=bash -c 'bash /home/emuhub/emulator/mobile_emu.sh "pixel_3" 21 "pixel_3"'; read -p "Press Enter to close"
Name=Pixel 3
Icon=/home/emuhub/images/pixel_3_emu.png
