[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=bash -c 'bash /home/emuhub/emulator/mobile_emu.sh "pixel_3a" 23 "pixel_3a"'; read -p "Press Enter to close"
Name=Pixel 3a
Icon=/home/emuhub/images/pixel_3a_emu.png
