[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=bash -c 'bash /home/emuhub/emulator/mobile_emu.sh "pixel_3a_xl" "pixel_3a_xl" "pixel_3a_xl"'; read -p "Press Enter to close"
Name=Pixel 3a XL
Icon=/home/emuhub/images/pixel_3a_xl_emu.png
