[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=bash -c 'bash /home/emuhub/emulator/wear_emu.sh "wearos_large_round" 28 "wearos_large_round"'; read -p "Press Enter to close"
Name=Wear OS Large Round
Icon=/home/emuhub/images/wearos_large_round_emu.png
